{% extends "_layout.html" %}

{% block title %}Inscription{% endblock %}

{% block header_content %}
<h1>Inscription</h1>
<nav>
    <ul>
        {# La navigation est vide ici, comme pour la page de connexion. #}
    </ul>
</nav>
{% endblock %}

{% block content %}
<div class="auth-form-container">
    <h2>Créer un compte</h2>

    <form method="POST">
        <div class="form-group">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" value="{{ username if username else '' }}" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirmer le mot de passe :</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>

        {% if not first_user %}
            <div class="checkbox-group">
                <input type="checkbox" id="is_admin" name="is_admin" {{ 'checked' if is_admin_checked else '' }}>
                <label for="is_admin">Accès Administrateur</label>
            </div>
        {% endif %}

        <button type="submit">S'inscrire</button>
    </form>

    <p>Déjà un compte ? <a href="{{ url_for('auth.login') }}">Se connecter</a>.</p>
</div>
{% endblock %}